:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: #fff;
  position: relative;
}
/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}
/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 4rem 5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sidebar.hidden {
  display: none;
}
.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 3rem;
}
.workouts {
  list-style: none;
  height: 71.2vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.workouts::-webkit-scrollbar {
  width: 0;
}
.close-btn {
  position: absolute;
  font-size: 3rem;
  right: 1rem;
  top: 1rem;
  transition: transform linear 0.3s;
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem 2.5rem;

  /* Match height and activity boxes */
  height: 16rem;
  transition: all 0.5s, transform 1ms;
}
.form.hidden {
  transform: translateY(-30rem);
  height: 0;
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
}
.form__row {
  display: flex;
  align-items: center;
}
.form__row--hidden {
  display: none;
}
.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}
.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}
.form__input:focus {
  outline: none;
  background-color: #fff;
}
.form__btn {
  display: none;
}

.workout {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.workout--running {
  border-left: 5px solid var(--color-brand--2);
}
.workout--cycling {
  border-left: 5px solid var(--color-brand--1);
}
.workout__title {
  font-size: 1.7rem;
  font-weight: 600;
  grid-column: 1 / -1;
  margin-bottom: 5px;
}
.all-workout__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem 1.5rem;
}
.all-workout__details.hidden {
  display: none;
}
.workout__details {
  display: flex;
  align-items: baseline;
}
.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}
.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.workout__unit {
  font-size: 1.1rem;
  color: var(--color-light--1);
  text-transform: uppercase;
  font-weight: 800;
}
.copyright {
  margin-top: auto;
  font-size: 1.3rem;
  text-align: center;
  color: var(--color-light--1);
}

.links {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}
.links a {
  font-size: 2rem;
}
.twitter-link:link,
.twitter-link:visited,
.links a {
  color: var(--color-light--1);
  transition: all 0.2s;
}
.twitter-link:hover,
.twitter-link:active,
.links a:hover,
.links a:active {
  color: var(--color-light--2);
}
/* MAP */
#map {
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}
#map.hidden {
  display: none;
}
.map-actions i {
  font-size: 4rem;
  color: var(--color-dark--1);
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1000;
}
/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
  background-color: var(--color-dark--1);
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--2);
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid var(--color-brand--1);
}

.leaflet-top.leaflet-left {
  left: auto;
  right: 10px;
}
@media screen and (min-width: 481px) {
  body {
    display: flex;
    padding: 2.5rem;
  }
  .sidebar {
    position: static;
  }
  .sidebar.hidden {
    display: flex;
  }
  .logo {
    margin-bottom: 4rem;
  }
  .workouts {
    height: 77vh;
  }
  .close-btn {
    display: none !important;
  }
  .form {
    height: 9.25rem;
    grid-template-columns: 1fr 1fr;
  }
  .workout {
    height: auto;
    display: block;
  }
  .all-workout__details {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .all-workout__details.hidden {
    display: grid;
  }
  #map.hidden {
    display: block;
  }
  .map-actions i {
    display: none;
  }
}
